https://github.com/Tinche/aiofiles==0.7.0
https://github.com/bitprophet/alabaster==0.7.12
https://github.com/hhatto/autopep8==1.5.7
Babel==2.9.1
https://github.com/certifi/python-certifi==2021.5.30
https://github.com/chardet/chardet==4.0.0
charset-normalizer==2.0.3
https://github.com/nedbat/coveragepy==5.5
docutils==0.17.1
flake8==3.9.2
https://github.com/MagicStack/httptools==0.2.0
https://github.com/kjd/idna==3.2
https://github.com/shibukawa/imagesize_py==1.2.0
https://github.com/pallets/jinja==3.0.1
https://github.com/pallets/markupsafe==2.0.1
https://github.com/pycqa/mccabe==0.6.1
https://github.com/aio-libs/multidict==5.1.0
https://github.com/pypa/packaging==21.0
https://github.com/PyCQA/pycodestyle==2.7.0
https://github.com/PyCQA/pyflakes==2.3.1
Pygments==2.9.0
https://github.com/pyparsing/pyparsing==2.4.7
python-dateutil==2.8.2
https://github.com/stub42/pytz==2021.1
https://github.com/psf/requests==2.26.0
http://github.com/subyraman/sanic_session==21.6.1
sanic-routing==0.7.1
sanic-session==0.8.0
https://github.com/benjaminp/six==1.16.0
https://github.com/snowballstem/snowball==2.1.0
https://github.com/sphinx-doc/sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
https://github.com/uiri/toml==0.10.2
https://github.com/ultrajson/ultrajson==4.0.2
https://github.com/urllib3/urllib3==1.26.6
http://github.com/MagicStack/uvloop==0.15.3
https://github.com/aaugustin/websockets==9.1
wheel